
.card-banner {
  display: flex;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 0.35rem;
}

main .card-banner {
  background: url("/banner3.webp"); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
