<!-- <div class="table-resposive  col-9  mx-auto ">
  <div class="table-container">
    <table class="product-table ">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Category ID</th>
          <th>Image</th>
          <th>Count</th>
          <th>Add to Cart</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of ProductChangesByCatID  ; let i = index"
          [class.d-none]="selectedCategoryId != 0 && selectedCategoryId != product.categoryID"    >
          <td>{{ product.id }}  </td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.categoryID }}</td>
          <td>
            <img [src]="product.imgUrl" alt="{{ product.name }}" class="product-image" />
            
          </td>
         
          <td>
            <input #itemcnt type="number" class="form-control" placeholder="Enter a number" min="1">
          </td>
          <td>
            <button class="buy-button" (click)="buyProduct(product, itemcnt.value)">Add To Cart</button>
          </td>
          <td>
            <button class="buy-button" [routerLink]="['/ProductDetails' ,product.id]" routerLinkActive="active">Details</button>
          </td>
          <td>
            <button class="buy-button" (click)="update(product.id !)" routerLinkActive="active">Edit</button>
          </td>
          <td> 
            <button class="buy-button"   (click)="delet(product.id!)" routerLinkActive="active">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
 -->
