
table {
    border-collapse: collapse;
    width: 100%;
  }
  

  

  tbody {
    background-color: #f8f8f8; 
  }

  
  tr:hover {
    background-color: #e2e2e2;
  }
  

  td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd; 
  }
  

  button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #c0392b; 
    transform: translateY(-2px); 
  }
  
  button:focus {
    outline: none;
  }
  

  @media (max-width: 768px) {
    th, td {
      padding: 10px; 
    }
  }
  