  .navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    color: #ffffff ;
  }
  .nav-link {
    display: block; 
    opacity: 1; 
  }
  