<div class="container py-5">
  <div class="row d-flex justify-content-center">
    <main class="col-lg-7  col-xl-7">
      <article class="card">
        <div class="content-body">
          <figure class="flex items-center justify-between pe-1">
            <div class="flex items-center">
              <span class="bg-gray-100 rounded-full p-2">
                <img class="w-10 h-10 rounded-full" src="/logo.webp" alt="Rounded avatar">
              </span>
              <figcaption class="ml-3">
                <h6 class="title text-base font-semibold">{{ profile.name }}</h6>
              </figcaption>
            </div>
            <button class="btn btn-dark flex items-center rounded py-2 px-2" (click)="openEditModal(profile)">
              <i class="fa fa-pen"></i>
            </button>
          </figure>
          <hr>
          <div class="row g-2 mb-3">
            <div class="col-md-12">
              <article class="box bg-light">
                <b class="mx-2 text-muted">
                  <i class="fa-solid fa-envelope"></i>
                </b>
                Email: {{profile.email}}
              </article>
            </div>
            <div class="col-md-12">
              <article class="box bg-light">
                <b class="mx-2 text-muted">
                  <i class="fa-solid fa-phone-flip"></i>
                </b>
                Phone: +1234567890988
              </article>
            </div>
            <div class="col-md-12">
              <article class="box bg-light Address">
                <b class="mx-2 text-muted">
                  <i class="fa fa-map-marker-alt"></i>
                </b>
                Location: Egypt
              </article>
            </div>
          </div>
        </div>
      </article>

      <div class="modal-backdrop fade" [ngClass]="{'show': isVisible}" [style]="isVisible ? 'display: block;' : 'display: none;'"></div>
      <div class="modal fade" [class.show]="isVisible" id="EditModal" tabindex="-1" role="dialog"
        aria-labelledby="EditModalLabel" [style]="isVisible ? 'display: block;' : ''">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="EditModalLabel">Edit User Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeEditModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editUserFormGroup">
                <div class="form-group">
                  <label for="fullName" class="col-form-label">Full Name:</label>
                  <input type="text" class="form-control" id="fullName" formControlName="name">
                  <small *ngIf="editUserForm['name'].invalid && isSubmitted" class="d-block text-danger">
                    Name is required
                  </small>
                </div>
                <div class="form-group">
                  <label for="emailAddress" class="col-form-label">Email Address:</label>
                  <input type="email" class="form-control" id="emailAddress" formControlName="email">
                  <small *ngIf="editUserForm['email'].invalid && isSubmitted" class="d-block text-danger">
                    <span *ngIf="editUserForm['email'].errors?.['required']">Email is required</span>
                    <span *ngIf="editUserForm['email'].errors?.['email']">Email is invalid</span>
                  </small>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeEditModal()">Cancel</button>
              <button class="btn btn-dark" type="submit" (click)="onSubmit()">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>